<div class="yellow-cell" style="border: 1px solid black; padding: 10px;">
  <h2 class="item-title"><%= task.title %></h2>
  <p class="item-description"><%= task.description %></p>
</div>

<div class="item-footer text-sm" style="border: 1px solid black; padding: 10px;">
    <div class="item-date text-grey">
      <%= l(task.created_at, format: :short) %>
      <% if task.category.present? %>
      <p class="item-category"><%= task.category.name %></p>
    <% end %>
    <% if task.tags.present? %>
      <p>Tags: <%= task.tags.map(&:name).join(' ') %></p>
    <% end %>
    </div>

    <div class="item-actions">
      <%= link_to fa_icon("pencil"), edit_task_path(task),
        title: 'изменить вопрос', class: 'edit-item'%>
      <%= button_to fa_icon("trash-o"), task_path(task),
        method: :delete, title: 'удалить вопрос', class: 'delete-item'%>
    </div>


    
</div>
